.botao
    {
        padding: 6px 12px;
        font-size: 16px;
        background: #f9a826;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background 0.3s;
    }

.select {
    padding: 6px 12px;
    font-size: 16px;
    background: #d3d3d3;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.inputCSS {
    width: 150px;
    height: 28px;
}

/*#containerTemperatura, #containerPeso {
    display: none;
};*/
